{% extends 'base.html' %}
{% load static crispy_forms_filters %}
{% block title %}Register for Twitter Mapping{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h3>Welcome to Twitter Mapping</h3>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
            <div class="well">
                <h5>Please take the time to create an account</h5>

                <form action="#" method="post" role="form">
                    {% csrf_token %}
                    <div>
                        {{ form|crispy }}
                        <br>
                    </div>
                    <div class="control-group">
                        <input class="btn btn-success" type="submit" value="Register">
                        <a href="{% url 'auth_login' %}">
                            <input class="btn btn-default" type="button" value="Login">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>
{% endblock %}